.Update-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
.Update-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
/* .Update-box .user-box{
    position: absolute;
} */
.Update-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
}
.Update-box .aa{
    width: 100%;
    justify-content: end;
    text-align: center;
}
.Update-box .bb{
    outline: none;
    border: none;
    border-radius: 5px;
}
.Update-box .bb:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow:
               0 0 5px  #03e9f4,
               0 0 25px  #03e9f4,
               0 0 50px  #03e9f4,
               0 0 100px  #03e9f4;
}
select{
    outline: none;
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding: 10px 0;

}
select option{
    background-color: rgba(0, 0, 0, .5);
    outline: none;
    border: none;
    border-radius: 10px;
}
.textp{
    color: black;
}
@media(max-width:530px){
    
    .Update-box{
    width: 250px;
    }

}